
.form-page-sidebar {
  padding: 15px;
  background-color: #eceeef;
  border-radius: .25rem;
  .btn-primary {
    margin-bottom: 2rem;
  }
}

.td-level-1 {
  padding-left: 10px;
}
.td-level-2 {
  padding-left: 20px;
}
.td-level-3 {
  padding-left: 30px;
}
.td-level-4 {
  padding-left: 40px;
}
.td-level-5 {
  padding-left: 50px;
}
