
.cms-igo-plugin {

  .form-page-sidebar {
    margin-bottom: 2rem;
    background-color: #e9ecef;
    .btn-primary {
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  .nav-tabs-body {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: transparent  #dee2e6 #dee2e6;
  }

  .slug {
    font-size: .8rem;
    color: #999;
  }

  .fa-external-link {
    margin-left: .5rem;
  }

  table {
    th.th-page-updated-at {
      text-align: right;
    }

    td.td-page-date {
      font-size: .8rem;
      min-width: 160px;
      text-align: right;
      color: #999;
    }

    .fa-caret-right, .fa-caret-down {
      width: 16px;
      font-size: 18px;
      cursor: pointer;
    }

    tr.has-parent {
      display: none;
    }
    .td-level-1 {
      padding-left: 2rem;
    }
    .td-level-2 {
      padding-left: 4rem;
    }
    .td-level-3 {
      padding-left: 6rem;
    }
    .td-level-4 {
      padding-left: 8rem;
    }
    .td-level-5 {
      padding-left: 10rem;
    }
  }

  .media-thumbnail {
    width: 100px;
  }

  .delete-image {
    margin-left: 1rem;
    color: rgb(239, 129, 87);
  }
}

#select-image-modal {
  .images {
    max-height: 330px;
    overflow-y: scroll;
    img {
      margin: 0 1rem 1rem 0;
      width: 100px;
      border: 2px solid #fff;
      &:hover {
        cursor: pointer;
        border: 2px solid #777;
      }
    }
  }
}
